/* CSS for Diagnostic-Feedback */

.diagnostic-feedback-studio .hide {
    display: none;
}

.diagnostic-feedback-studio .show {
    display: block;
}

.diagnostic-feedback-studio #edit_questionnaire_panel {
    padding: 2px;
}

.diagnostic-feedback-studio .range,
.diagnostic-feedback-studio .add-new-range,
.diagnostic-feedback-studio .category,
.diagnostic-feedback-studio .add-new-category,
.diagnostic-feedback-studio .question,
.diagnostic-feedback-studio .add-new-question {

    margin: 20px;
}

.diagnostic-feedback-studio .answer-choice,
.diagnostic-feedback-studio .add-new-choice {

    margin: 10px 40px;
}

.diagnostic-feedback-studio .question-field {
    margin: 10px 0 10px 0;
}

.diagnostic-feedback-studio .question-field > input {
    width: 500px;
}

.diagnostic-feedback-studio .question-txt-editor {
    width: 500px;
    margin-left: 15px;
}

.diagnostic-feedback-studio .range > input,
.diagnostic-feedback-studio .category > input,
.diagnostic-feedback-studio .question-field > input,
.diagnostic-feedback-studio .answer-choice > input {
    margin: 2px;
    padding: 6px 8px 8px;
    margin-bottom: 4px;
    border: 1px;
    border-color: #CCC;
    background-image: none;
    background-color: #f2f2f2;
    font-size: 0.75em;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    color: #4c4c4c;
    border-radius: 2px;
}

.diagnostic-feedback-studio .range > input:focus,
.diagnostic-feedback-studio .question-field > input:focus,
.diagnostic-feedback-studio .answer-choice > input:focus {
    background-color: rgb(255, 252, 241);
    background-image: linear-gradient(rgb(255, 252, 241), rgb(255, 254, 253));
}

.diagnostic-feedback-studio .delete-range,
.diagnostic-feedback-studio .delete-question,
.diagnostic-feedback-studio .delete-choice {
    margin-top: 10px;
    margin-right: 10px;
}

.diagnostic-feedback-studio .answer-choice {
    list-style: upper-alpha;
}

.diagnostic-feedback-studio .category > .internal-description,
.diagnostic-feedback-studio .range > .internal-description {
    width: 100%;
}

.diagnostic-feedback-studio .category > .image-url,
.diagnostic-feedback-studio .range > .image-url {
    width: 225px;
}

.diagnostic-feedback-studio .answer-choice > .result-choice {
    margin: 2px;
    padding: 6px 8px 8px;
    margin-bottom: 4px;
    background-image: none;
    background-color: #f2f2f2;
    font-size: 0.75em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    min-width: 150px;
}

.diagnostic-feedback-studio .wizard > .actions {
    border-top: #eee solid;
}

.diagnostic-feedback-studio .wizard > .actions a, .diagnostic-feedback-studio .wizard > .actions a:hover, .diagnostic-feedback-studio .wizard > .actions a:active {
    margin-bottom: -26px;
}