.diagnostic-feedback-student .result-img {
    float: left;
    padding-right: 10px;
    width: 200px;
}

/*hide the wizard tabs for student view*/
.diagnostic-feedback-student ul[role = tablist] {
    display: none;
}

.diagnostic-feedback-student .wizard > .content {
    overflow-y: hidden
}

.diagnostic-feedback-student .quiz-title {
    display: none;
    font-weight: 300;
    font-size: 2.0em;
}

.diagnostic-feedback-student .quiz-question {
    padding-top: 1em;
}

.diagnostic-feedback-student .question-container {
    border: solid 4px #DDD;
    height: 80%;
    width: 85%;
}

.diagnostic-feedback-student .question-title {
    text-transform: uppercase;
    font-weight: bold;
}

.diagnostic-feedback-student .user-answers {
    padding: 20px;
}

.diagnostic-feedback-student .user-answers > input,
.diagnostic-feedback-student .user-answers > label {
    display: inline;
}

.diagnostic-feedback-student .user-answers > label {
    font-size: 1em;
}

.diagnostic-feedback-student .validation-error-message{
    color: red !important;
}

.lesson-content .diagnostic-feedback-student .wizard > .content > .body {
    width: 100%;
}
