/* CSS for Diagnostic-Feedback */

.diagnostic-feedback-studio .hide {
    display: none;
}

.diagnostic-feedback-studio .show {
    display: block;
}

.diagnostic-feedback-studio .edit_questionnaire_panel {
    padding: 2px;
}

.diagnostic-feedback-studio .range,
.diagnostic-feedback-studio .add-new-range,
.diagnostic-feedback-studio .category,
.diagnostic-feedback-studio .add-new-category,
.diagnostic-feedback-studio .question,
.diagnostic-feedback-studio .add-new-question {
    margin: 10px;
}

.diagnostic-feedback-studio .answer-choice,
.diagnostic-feedback-studio .add-new-choice {
    margin: 10px 85px;
}

.diagnostic-feedback-studio .question-field {
    margin: 10px 0 10px 0;
}

.diagnostic-feedback-studio .question-txt-editor {
    width: 660px;
    margin-left: 0px;
}

.diagnostic-feedback-studio .answer-txt-editor {
    width: 575px;
}

.diagnostic-feedback-studio .range > input,
.diagnostic-feedback-studio .category > input,
.diagnostic-feedback-studio .question-field > input,
.diagnostic-feedback-studio .answer-choice > input {
    margin: 2px;
    padding: 6px 8px 8px;
    margin-bottom: 4px;
    border: 1px;
    border-color: #CCC;
    background-image: none;
    background-color: #f2f2f2;
    font-size: 0.75em;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    color: #4c4c4c;
    border-radius: 2px;
}

.diagnostic-feedback-studio .range > input[name*='range[min]'],
.diagnostic-feedback-studio .range > input[name*='range[max]'] {
    width: 75px;
}

.diagnostic-feedback-studio .range > .group-auto-complete {
    width: 237px;
    margin: 0;
}

.diagnostic-feedback-studio .range > input:focus,
.diagnostic-feedback-studio .question-field > input:focus,
.diagnostic-feedback-studio .answer-choice > input:focus {
    background-color: rgb(255, 252, 241);
    background-image: linear-gradient(rgb(255, 252, 241), rgb(255, 254, 253));
}

.diagnostic-feedback-studio .delete-range,
.diagnostic-feedback-studio .delete-question,
.diagnostic-feedback-studio .delete-choice {
    margin-top: 10px;
    margin-right: 10px;
}

.diagnostic-feedback-studio .answer-choice  .delete-choice {
    margin: -20px -85px 0 0;
    float: right;
}

.diagnostic-feedback-studio .answer-choice {
    list-style: upper-alpha;
}

.diagnostic-feedback-studio .category > .internal-description,
.diagnostic-feedback-studio .range > .internal-description {
    width: 100%;
}

.diagnostic-feedback-studio .category > .image-url,
.diagnostic-feedback-studio .range > .image-url {
    width: 225px;
}

.diagnostic-feedback-studio .answer-choice > .result-choice,
.diagnostic-feedback-studio .result-group,
.diagnostic-feedback-studio .question-group {
    margin: 2px;
    padding: 6px 8px 8px;
    margin-bottom: 4px;
    background-image: none;
    background-color: #f2f2f2;
    font-size: 0.75em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    min-width: 150px;
    height: 31px;
}

.diagnostic-feedback-studio .answer-choice > .result-choice,
.diagnostic-feedback-studio .answer-choice > .answer-value {
    float: right;
    min-width: 190px;
}

.diagnostic-feedback-studio .answer-choice > .result-choice {
    margin: -31px -35px 0 0;
}

.diagnostic-feedback-studio .answer-choice > .answer-value {
    margin: -33px -45px 0 0;
}

.group-container{
    display: inline-block;
}

.group-container input,
.group-container select {
    width: 165px;
}

.diagnostic-feedback-studio .wizard > .actions {
    border-top: #eee solid;
}

.diagnostic-feedback-studio .wizard > .actions a, .diagnostic-feedback-studio .wizard > .actions a:hover, .diagnostic-feedback-studio .wizard > .actions a:active {
    margin-bottom: -26px;
}



.diagnostic-feedback-studio .sort-title {
    margin-left: 10px;
}

.diagnostic-feedback-studio .group-error {
    border-top: 3px outset #ff0000;
}

.diagnostic-feedback-studio .text-help {
    font-size: 1.2rem;
    line-height: 1.776rem;
}

.group-mapping {
    border: 1px solid #403B3B;
    padding: 3px;
    border-radius: 5px;
    background-color: #9dc8e2;
}

.diagnostic-feedback div.field-actions {
    display: inline-block;
}

/* Jquery-UI overrides */
.diagnostic-feedback-studio .ui-accordion .ui-accordion-content {
    padding: 0;
    height: auto !important;
}

.diagnostic-feedback-studio .ui-accordion .group {
    margin-bottom: 5px;
}

.diagnostic-feedback-studio .ui-accordion .ui-accordion-header {
    padding: 5px;
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0;
    /* support: IE7; */
    font-size: 100%;
}

.diagnostic-feedback-studio .ui-accordion .ui-accordion-header .action-button {
    float: right;
}

.diagnostic-feedback-studio .ui-accordion .ui-accordion-header .action-button a {
    padding: 0;
    margin: 0;
}

.diagnostic-feedback-studio .ui-accordion .ui-accordion-header  .action-button .copy-button{
    float: left;
    margin-right: 5px;
}

.diagnostic-feedback-studio  .ui-accordion .ui-accordion-header .ui-icon {
    left: 1.1em;
}

.diagnostic-feedback-studio .ui-state-default{
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
}

.diagnostic-feedback-studio .ui-state-hover{
    border: 1px solid #999999;
	background: #dadada;
	font-weight: normal;
	color: #212121;
}

.diagnostic-feedback-studio .ui-state-active{
    border: 1px solid #999999;
    background: #ffffff;
    font-weight: bold;
    color: #212121;
}

.diagnostic-feedback-studio .ui-state-default a,
.diagnostic-feedback-studio .ui-state-default a:link,
.diagnostic-feedback-studio .ui-state-default a:visited {
    color: #1c94c4;
    text-decoration: none;
}

.diagnostic-feedback-studio .ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    color: #222222;
}

.diagnostic-feedback-studio .wrapper-comp-settings .list-input.settings-list input {
    width: 73%;
}

.diagnostic-feedback-studio .question-title {
    width: 70%;
}

/* end */