.diagnostic-feedback div.custom-tooltip {
    position: relative !important;
    display: inline-block;
    top: 30%;
    left: -3%;
    color: #FF6E00;
    margin: 0;
    padding: 0;
}

.diagnostic-feedback div.custom-tooltip:hover {
    z-index: 1005;
}

.diagnostic-feedback div.custom-tooltip label {
    display: none !important;
    vertical-align: middle;
}

.diagnostic-feedback div.custom-tooltip:hover label.error:not(.checked) {
    display: inline-block !important;
    position: absolute;
    left: 2em;
    width: 150px;
    padding: 5px;
    background-color: #4c4c4c;
    border: 2px solid #000;
    border-radius: 5px;
    color: #fff;
    opacity: 0.85;
}
