<div class="category">
    <input type="hidden" id="category[id][<%- order %>]" name="category[id][<%- order %>]" class="skip-validation"
           value="<%- id %>"/>
    <input placeholder="<%- gettext('Name') %>" type="text" id="category[name][<%- order %>]" name="category[name][<%- order %>]"
           class="required" required value="<%- name %>"/>
    <input placeholder="<%- gettext('Image URL') %> (e.g. /static/img15.jpg)" type="text"
           class="image-url" id="category[image][<%- order %>]"
           name="category[image][<%- order %>]" value="<%- image %>"/>
    <a href="#" data-tooltip="<%- gettext('Delete Category') %>" class="delete-category delete-button action-button">
        <i class="icon fa fa-trash-o"></i>
        <span class="sr"><%- gettext('Delete') %></span>
    </a>
    <input placeholder="<%- gettext('Notes for author; not shown to students') %>" class="internal-description" type="text"
           id="category[internal_description][<%- order %>]" name="category[internal_description][<%- order %>]"
           value="<%- internal_description %>"/>

    <textarea class="custom-textarea" placeholder="<%- gettext('Html Body') %>" id="category[html_body][<%- order %>]"
              name="category[html_body][<%- order %>]"><%- html_body %></textarea>
</div>