<div class='group'>
    <h3>
        <span class="category-order"><%- order + 1 %>
        </span>
        <span class="sort-title">
            <% if (!name) { %>
                <%- gettext('Untitled') %>
            <% } else { %>
                <%- name %>
            <% }%>
        </span>
        ( <span class="sort-title-group">
            <% if (!group) { %>
                <%- DEFAULT_GROUP %>
            <% } else { %>
                 <%- group %>
            <% }%>
        </span> )
        <span class="action-button">
            <a href="#" data-tooltip="<%- gettext('Delete Category') %>" class="delete-category delete-button action-button">
                <i class="icon fa fa-trash-o"></i>
                <span class="sr"><%- gettext('Delete') %></span>
            </a>
        </span>
    </h3>
    <div>

        <div class="category">
            <input type="hidden" id="<%- block_id %>_category[order][<%- order %>]"
                   name="<%- block_id %>_category[order][<%- order %>]"
                   class="skip-validation" value="<%- order %>" />

            <input type="hidden" id="<%- block_id %>_category[id][<%- order %>]"
                   name="<%- block_id %>_category[id][<%- order %>]" class="skip-validation"
                   value="<%- id %>"/>

            <input placeholder="<%- gettext('Name') %>" type="text"
                   id="<%- block_id %>_category[name][<%- order %>]"
                   name="<%- block_id %>_category[name][<%- order %>]"
                   class="required sort-title-source" required value="<%- name %>"/>

            <input placeholder="<%- gettext('Image URL') %> (e.g. /static/img15.jpg)" type="text"
                   class="image-url"
                   id="<%- block_id %>_category[image][<%- order %>]"
                   name="<%- block_id %>_category[image][<%- order %>]" value="<%- image %>"/>

            <span class="group-container">
                <span class="new-grp-container hidden" >
                    <input type="text" placeholder="<%- gettext('Create new group') %>" class="new-grp-name" value="" />
                    <div class="field-actions">
                        <a href="#" class="add-new-group" title="<%- gettext('Click to save') %>">
                            <i class="icon fa fa-save"></i>
                        </a>
                        <a href="#" class="close-add-grp-panel" title="<%- gettext('Cancel') %>">
                            <i class="icon fa fa-remove"></i>
                        </a>
                    </div>

                </span>
                <span class="existing-grps-list">
                    <select id="<%- block_id %>_category[group][<%- order %>]"
                            name="<%- block_id %>_category[group][<%- order %>]"
                            class="result-group" >
                        <% _.each(allGroups, function(c_group) { %>
                            <option value="<%- c_group %>" <% if(c_group == group) { %>
                                    selected="selected" <% } %> ><%- c_group %></option>

                        <% }); %>
                    </select>
                    <div class="field-actions">
                        <a title="<%- gettext('Click to add new group') %>" class="button button-new open-add-grp-panel" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </span>

            </span>

            <input placeholder="<%- gettext('Notes for author; not shown to students') %>"
                   class="internal-description"
                   type="text"
                   id="<%- block_id %>_category[internal_description][<%- order %>]"
                   name="<%- block_id %>_category[internal_description][<%- order %>]"
                   value="<%- internal_description %>"/>

            <textarea class="custom-textarea" placeholder="<%- gettext('Html Body') %>"
                  id="<%- block_id %>_category[html_body][<%- order %>]"
                  name="<%- block_id %>_category[html_body][<%- order %>]"><%- html_body %></textarea>
        </div>
    </div>
</div>