<li class="answer-choice">
    <input placeholder="<%- gettext('Choice Text') %>" type="text"
           id="<%- block_id %>_question[<%- q_order %>]answer[<%- c_order %>]"
           name="<%- block_id %>_question[<%- q_order %>]answer[<%- c_order %>]"
           class="required answer-txt" required
           value="<%- name %>"/>
    <% if(quiz_type == BUZZFEED_QUIZ_VALUE){ %>
    <select id="<%- block_id %>_question[<%- q_order %>]category[<%- c_order %>]"
            name="<%- block_id %>_question[<%- q_order %>]category[<%- c_order %>]"
            class="required result-choice" required>
        <option value=""><%- gettext('Choose result') %></option>
        <% _.each(resultChoicesOptions, function(choice) { %>
        <option value="<%- choice.id %>" > <% if(choice.id == choice.category_id) { %>
                selected="selected" <% } %><%- choice.name %></option>
        <% }); %>
    </select>
    <% } else { %>
    <input placeholder="<%- gettext('Choice Value') %>" type="number" step="0.1"
           id="<%- block_id %>_question[<%- q_order %>]value[<%- c_order %>]"
           name="<%- block_id %>_question[<%- q_order %>]value[<%- c_order %>]"
           class="required answer-value" required
           value="<%- value %>"/>
    <% } %>
    <a href="#" data-tooltip="<%- gettext('Delete Choice') %>" class="delete-choice delete-button action-button">
        <i class="icon fa fa-trash-o"></i>
        <span class="sr"><%- gettext('Delete Choice') %></span>
    </a>
</li>


