<div class="range">
    <input placeholder="Range Name" type="text" id="range[name][<%- order %>]" name="range[name][<%- order %>]"  class="required" value="<%- name %>" />
    <input placeholder="Range Min" type="number" step="0.1" id="range[min][<%- order %>]" name="range[min][<%- order %>]" class="required" value="<%- min_value %>" />
    <input placeholder="Range Max"  type="number" step="0.1" id="range[max][<%- order %>]" name="range[max][<%- order %>]" class="required" value="<%- max_value %>" />
    <input placeholder="Result Image" type="text" id="range[image][<%- order %>]" name="range[image][<%- order %>]" value="<%- image %>" >
    <a href="#" data-tooltip="Delete" class="delete-range delete-button action-button">
        <i class="icon fa fa-trash-o"></i>
        <span class="sr">Delete</span>
    </a>
    <input placeholder="Internal Description" class="internal-description" type="text" id="range[internal_description][<%- order %>]" name="range[internal_description][<%- order %>]"
           value="<%- internal_description %>" >

    <textarea class="custom-textarea" placeholder="Html Body" id="range[html_body][<%- order %>]" name="range[html_body][<%- order %>]"><%- html_body %></textarea>
</div>
