<div class='group'>
    <h3>
        <span class="range-order"><%- order + 1 %>
        </span>
        <span class="sort-title">
            <% if (!name) { %>
                <%- gettext('Untitled') %>
            <% } else { %>
                <%- name %>
            <% } %>
        </span>
        ( <span class="sort-title-group">
            <% if (!group) { %>
                <%- DEFAULT_GROUP %>
            <% } else { %>
                 <%- group %>
            <% }%>
        </span> )
        <span class="action-button">
           <a href="#" data-tooltip="<%- gettext( 'Delete Range') %>" class="delete-range delete-button action-button">
                <i class="icon fa fa-trash-o"></i>
                <span class="sr"><% gettext( 'Delete') %></span>
            </a>
        </span>
    </h3>
    <div>
        <div class="range">
            <input type="hidden" id="<%- block_id %>_range[order][<%- order %>]"
                   name="<%- block_id %>_range[order][<%- order %>]"
                   class="skip-validation" value="<%- order %>" />

            <input placeholder="<%- gettext( 'Range Name') %>" type="text"
                   id="<%- block_id %>_range[name][<%- order %>]"
                   name="<%- block_id %>_range[name][<%- order %>]"
                   class="required sort-title-source" required value="<%- name %>"/>

            <input placeholder="<%- gettext( 'Range Min') %>" type="number" step="0.1"
                   id="<%- block_id %>_range[min][<%- order %>]"
                   name="<%- block_id %>_range[min][<%- order %>]" class="required" required
                   value="<%- min_value %>"/>

            <input placeholder="<%- gettext( 'Range Max') %>" type="number" step="0.1"
                   id="<%- block_id %>_range[max][<%- order %>]"
                   name="<%- block_id %>_range[max][<%- order %>]" class="required" required
                   value="<%- max_value %>"/>
            <input placeholder="<%- gettext( 'Image URL') %> (e.g. /static/img15.jpg)"
                   class="image-url"
                   type="text"
                   id="<%- block_id %>_range[image][<%- order %>]"
                   name="<%- block_id %>_range[image][<%- order %>]" value="<%- image %>">

            <input type="text" placeholder="<%- gettext('Attach to a group') %>"
                   id="<%- block_id %>_range[group][<%- order %>]"
                   name="<%- block_id %>_range[group][<%- order %>]" class="group-auto-complete range-autocomplete"
                   value="<%- group %>" />

            <input placeholder="<%- gettext( 'Notes for author; not shown to students') %>"
                   class="internal-description" type="text"
                   id="<%- block_id %>_range[internal_description][<%- order %>]"
                   name="<%- block_id %>_range[internal_description][<%- order %>]"
                   value="<%- internal_description %>">

            <textarea class="custom-textarea" placeholder="<%- gettext( 'Html Body') %>"
                      id="<%- block_id %>_range[html_body][<%- order %>]"
                      name="<%- block_id %>_range[html_body][<%- order %>]"><%- html_body %></textarea>
        </div>
    </div>
</div>
