{% load i18n %}
<div class="diagnostic-feedback diagnostic-feedback-studio">
    <div class="editor">
        <div class="wrapper-comp-settings is-active editor	">
            <h1 class="wizard-loading">{% trans "Loading Wizard, Please wait" %}</h1>

            <div class="hide edit_questionnaire_panel">
                <div class="msg"><h3></h3></div>
                <form class="questionnaire-form" action="#">
                    <div>
                        <!-- Step 1 start -->
                        <h3>{% trans "Basic Info" %}</h3>
                        <section step="1">
                            <hr/>
                            <ul class="list-input settings-list">
                                <li class="field comp-setting-entry metadata_entry">
                                    <div class="wrapper-comp-setting">
                                        <label for="title" class="label setting-label">{% trans "Quiz Title" %}</label>
                                        <input id="{{block_id}}_title" name="{{block_id}}_title" type="text" class="required field-data-control"
                                               required value="{{self.title}}">
                                    </div>
                                </li>
                                <li class="field comp-setting-entry metadata_entry">
                                    <div class="wrapper-comp-setting">
                                        {% if not self.quiz_type %}
                                        <label for="type" class="label setting-label">{% trans "Quiz Type" %}</label>
                                        <select id="{{block_id}}_type" name="{{block_id}}_type" class="required field-data-control" required>
                                            <option value="">{% trans "Select Type" %}</option>
                                            {% for t in self.types %}
                                            <option value="{{t.value}}" {% if t.value == self.quiz_type %}
                                                    selected="selected" {% endif %}>
                                                {{t.label}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        {% else %}
                                        <p class="label setting-label">{% trans "Quiz Type" %}
    </p>{% for t in self.types %} {% if t.value == self.quiz_type %} {{t.label}} {% endif %} {% endfor %}
                                        <input type="hidden" id="{{block_id}}_type" name="{{block_id}}_type" value="{{ self.quiz_type }}"/>
                                        {% endif %}
                                    </div>
                                    <span class="tip setting-help">{% trans "Type cannot be changed once it is set." %}</span>
                                </li>
                                <li class="field comp-setting-entry metadata_entry">
                                    <div class="wrapper-comp-setting">
                                        <label for="description" class="label setting-label">{% trans "Description" %}</label>
                                        <textarea id="{{block_id}}_description" name="{{block_id}}_description" rows="5" cols="50"
                                                  class="required field-data-control custom-textarea" required>{{self.description}}</textarea>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <!-- Step 1 end -->

                        <!-- Step 2 start -->
                        <h3>Results</h3>
                        <section step="2">
                            <div class="fields-container hide categories_panel">
                                <h4>{% trans "Categories" %} *</h4>
                                <span class="text-help">{% trans "Drag a collapsed category to prioritize for tie-breaking." %}</span>
                                <div class='accordion'>

                               </div>

                                <a class="add-new-category button button-new" href="#"><i class="icon fa fa-plus"></i>
                                    {% trans "Add Category" %}</a>
                            </div>
                            <div class="fields-container hide ranges_panel">
                                <h3>{% trans "Ranges" %}</h3>
                                <span class="text-help">{% trans "Drag a collapsed range to prioritize for tie-breaking." %}</span>
                                <div class='accordion'>

                               </div>

                                <a href="#" class="add-new-range button button-new" title="Click to add a new Range">
                                    <i class="icon fa fa-plus"></i>{% trans "Add Range" %}
                                </a>
                            </div>
                        </section>
                        <!-- Step 2 end -->

                        <!-- Step 3 start -->
                        <h3>{% trans "Questions" %}</h3>
                        <section step="3">
                            <div class="questions_panel">

                                <a href="#" class="add-new-question button button-new"
                                   title="Click to add a new Question">
                                    <i class="icon fa fa-plus"></i>{% trans "Add Question" %}
                                </a>
                            </div>
                        </section>
                        <!-- Step 3 end -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>