{% load i18n %}
<div class="diagnostic-feedback diagnostic-feedback-student">
    {% if user_is_staff %} <a href="#" id="export_data">{% trans "Download Data" %}</a><span id="export_progress"></span> {% endif %}
    {% if questions %}
    <div class="msg"><h3></h3></div>
    <form id="student_view_form">

        <h3 class="quiz-description">{{self.description|safe}}</h3>

        <div class="question-div">
            <input type="hidden" name="completed_step" id="completed_step" value="{{self.current_step}}">
            {% for question in questions %}
            <h3>{% trans "Question" %}</h3>

            <section class="answer-choice question-container">
                <h3 class="question-title">{{ question.title }} </h3>

                <div class="quiz-question">{{ question.text|safe }}</div>
                <div class="user-answers">
                    {% for choice in question.choices %}
                    {% if self.quiz_type == self.BUZZFEED_QUIZ_VALUE %}
                    <input class="required" required type="radio" id="{{ question.id }}_choice_{{ forloop.counter }}"
                           name="choice_name_{{ question.id }}"
                           {% if question.student_choice == choice.category_id %}
                           checked="checked"
                           {% endif %}
                           value="{{ choice.category_id}}"/>
                    {% else %}
                    <input class="required" required type="radio" id="{{ question.id }}_choice_{{ forloop.counter }}"
                           name="choice_name_{{ question.id }}"
                           {% if question.student_choice == choice.value %}
                           checked="checked"
                           {% endif %}
                           value="{{ choice.value }}"/>
                    {% endif %}
                    <label for="{{question.id}}_choice_{{ forloop.counter }}">{{choice.name }}</label> <br>
                    {% endfor %}
                    <input type="hidden" class="question-id" value="{{ question.id }}"/>
                </div>
            </section>
            {% endfor %}

            <h3>Result</h3>
            <section id="response" class="question-container">
                <div id="response_body">
                    {% if result %}
                        {{result.html_body|safe}}
                    {% endif %}
                </div>
            </section>
        </div>
    </form>
    {% else %}
    <div class="wrapper-xblock-message xblock-validation-messages"
         data-locator="block-v1:edX+DemoX+Demo_Course+type@problem-builder+block@377b15c71a784ecf97ecdefbdff14540">
        <div class="xblock-message validation has-errors ">
            <p class="error"><i class="icon fa fa-exclamation-circle"></i>
                {% trans "Please add questions." %}
            </p>
        </div>
    </div>
    {% endif %}
</div>

